.gap{height: 40px;}
.serv{padding-left: 15%; padding-right: 15%;}
.uc{text-transform: capitalize;}
.servtxt{color: #444;}
.icn{padding: 2%; filter: grayscale(100%);transition-duration: .5s;}
.icn:hover{filter: grayscale(0%);}